
.container h1{
	color: rgb(0, 17, 255);
	text-align: center;
	font-size: 70px;

}

label{
	color: blue;
	font-size: 30px;
}
/* @media screen and (min-width: 768px) {
	body {
	  zoom: 125%;
	}
}
@media (min-width:740px) and (max-width:1023px){
	body{
		zoom: 125%;
	}
}
@media (max-width:740px){
	body{
	zoom: 125%;
	}
}
.form-check-input {
    transform: scale(3);

} */
.form-check-label {
	margin-bottom: 5px;
    padding-left: 20px;
}
