
.container h1{
	color: rgb(0, 17, 255);
	text-align: center;
	font-size: 70px;

}

label{
	color: blue;
	font-size: 30px;
}
@media screen and (min-width: 768px) {
	body {
		background-color: rgb(21, 255, 0);
	  zoom: 125%;
	}
}
@media (min-width:740px) and (max-width:1023px){
	body{
		background-color: aqua;
		zoom: 125%;
	}
}
@media (max-width:740px){
	body{
		background-color: rgb(255, 0, 0);
		zoom: 125%;
	}
}
